.map{
    height: 100%;
    width: 100%;
}
.container{
    position: relative;
    height: 100%;
    width: 100%;
}
.textarea{
    min-width: 200px;
    max-width: 500px;
    min-height: 200px;
    max-height: 500px;
}
.mapContainer{
    position: relative;

}

.sidebar{
    position: absolute;
    top: 100px;
    right: 0;
}
.input{
    position:absolute;
    top: 20vh;
    left: 0;
    z-index: 50;
}
.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    
   backdrop-filter: blur(40px);
    display: flex;
    align-items: center; 
    padding: 0 20px;
    z-index: 290;
  }
  .tags{
    position: absolute;
    top: 30vh;
    margin-left: 20px;
  }