.iconButton {
    padding-right: 0;
    margin: 0;
  }
  
  .menuIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 20px;
    transition: transform 0.3s ease;
    margin-left: 10px;
  }
  
  .bar {
    width: 30px;
    height: 4px;
    background-color: #e9dbc1;
    margin: 2px 0;
    transition: all 0.3s ease;
    border-radius: 2px; 
  }
  
  .open .bar:first-child {
    transform: rotate(45deg) translate(2px, 2px);
  }
  
  .open .bar:last-child {
    transform: rotate(-45deg) translate(4px, -3px);
  }
  

  