.feedbacks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: aqua; */
    gap: 20px;
   
}

.feedbacks p {
    margin: 10px;
}

.feedbacksOneLine {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #000;
    padding: 10px;
}

.photos {
    display: flex;
}