.feedbacks {
  display: flex;
  justify-content: space-between;

  gap: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.feedbacks p {
  margin: 10px;
}

.feedbacksOneLine {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 15px;
  padding: 10px;
}

.photos {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background: #ebe3d6;
  border-radius: 15px;
}

.name {
  display: flex;
  justify-content: space-between;
}
.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-top: 15px;
  padding: 20px;
}

* {
  font-family: Unbounded;
}

.textarea1 {
  max-width: 200px !important;
}

.delIcon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  transition: all 0.2s ease;
}

.delIcon:hover {
  transform: scale(1.3);
}

.textarea1 {
  padding: 10px;
  border-radius: 20px !important;
  width: 300px !important;
  max-width: 500px !important;
  min-height: 200px;
  max-height: 500px;
}

.image {
  transition: transform 0.3s ease-out;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  
  
}
.image:hover {
  /* object-fit: cover;  */
  /* overflow: hidden; */
  transform: scale(1.2);
  cursor: pointer;
}

