.container {
    margin: 0;
    height: 400px;
    width: 100%;
    color: white;
    line-height: 270px;
    text-align: center;
    background: rgb(0, 0, 0);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
  }
  
  
  .roundedCarousel {
    overflow: hidden;
  }
  
  .divContainer {

    height: 400px;
    color: white;

    text-align: center;
    background: rgba(233, 219, 193, 0.2);
border: 2px solid #e9dbc1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
  }